BODY { 
	font-family: trebuchet ms, arial, helvetica, sans-serif; 
	font-size: 12px; 
	text-align: justify; 
	vertical-align: top; 
	background-image: url("/images/background.gif");
	background-color: #FFFFFF;
	color: #999999; 
	}
	
.bannerhead {
	}	
	
.contentHeading { 
	font-family: arial, helvetica, sans-serif; 
	font-size: 24px;
	font-weight: normal;
	font-variant: small-caps;
	text-align: left;
	vertical-align: middle; 
	background-color: #FFFFFF;
	color: #549091;
	padding-top: 0px;
	padding-bottom: 0px;
	}
	
.content { 
	font-family: trebuchet ms, arial, helvetica, sans-serif; 
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	vertical-align: middle; 
	background-color: #FFFFFF;
	color: #000000;
	padding-top: 0px;
	padding-bottom: 15px;
	}
.content A { color: #96A900; text-decoration: none; }
.content A:visited { color: #96A900; text-decoration: none; }
.content A:hover { color: #96A900; text-decoration: none; }
.content A:active { color: #96A900; text-decoration: none; }

.con-fp-image {
	font-family: verdana, arial, helvetica, sans-serif; 
	font-size: 10px;
	font-weight: normal;
	text-align: right;
	vertical-align: top; 
	background-color: #FFFFFF;
	color: #000000;	
	padding-bottom: 10px;	
	}
	
.con-fp-main { 
	font-family: trebuchet ms, arial, helvetica, sans-serif; 
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	vertical-align: middle; 
	color: #000000;
	padding-top: 0px;
	padding-bottom: 3px;
	}
.con-fp-main A { color: #A0BF11; text-decoration: none; }
.con-fp-main A:visited { color: #A0BF11; text-decoration: none; }
.con-fp-main A:hover { color: #A0BF11; text-decoration: none; }
.con-fp-main A:active { color: #A0BF11; text-decoration: none; }
	
.con-fp-mainHead { 
	font-family: trebuchet ms, arial, helvetica, sans-serif; 
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle; 
	color: #000000;
	padding-top: 0px;
	padding-bottom: 3px;
	}
.con-fp-mainHead A { color: #000000; text-decoration: none; }
.con-fp-mainHead A:visited { color: #000000; text-decoration: none; }
.con-fp-mainHead A:hover { color: #96A900; text-decoration: none; }
.con-fp-mainHead A:active { color: #96A900; text-decoration: none; }
	
.con-fp-mainMore { 
	font-family: trebuchet ms, arial, helvetica, sans-serif; 
	font-size: 10px;
	font-weight: normal;
	text-align: right;
	vertical-align: middle; 
	color: #000000;
	padding-top: 0px;
	padding-bottom: 10px;
	border-bottom: solid 1px #CCCCCC;
	}
.con-fp-mainMore A { color: #96A900; text-decoration: none; }
.con-fp-mainMore A:visited { color: #96A900; text-decoration: none; }
.con-fp-mainMore A:hover { color: #7F294B; text-decoration: underline; }
.con-fp-mainMore A:active { color: #7F294B; text-decoration: underline; }
	
.navLeft { 
	font-family: arial, helvetica, sans-serif; 
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	vertical-align: middle; 
	background-color: #FFFFFF;
	color: #AAAAAA;
	}	
.navLeftHead { 
	color: #96A900;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #96A900;
	}
.navLeftHead A { color: #96A900; text-decoration: none; }
.navLeftHead A:visited { color: #96A900; text-decoration: none; }
.navLeftHead A:hover { color: #96A900; text-decoration: none; }
.navLeftHead A:active { color: #96A900; text-decoration: none; }
.navLeftItem {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #AAAAAA;
	}
.navLeftItem A { color: #AAAAAA; text-decoration: none; }
.navLeftItem A:visited { color: #AAAAAA; text-decoration: none; }
.navLeftItem A:hover { color: #96A900; text-decoration: none; }
.navLeftItem A:active { color: #96A900; text-decoration: none; }
	
.navRight { 
	font-family: arial, helvetica, sans-serif; 
	font-size: 10px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle; 
	background-color: #FFFFFF;
	color: #AAAAAA;
	}	
.navRightHead { 
	color: #96A900;
	padding-top: 0px;
	padding-bottom: 4px;
	border-bottom: 1px solid #96A900;
	}
.navRightItem {
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom: 1px solid #AAAAAA;
	}
.navRightItem A { color: #AAAAAA; text-decoration: none; }
.navRightItem A:visited { color: #AAAAAA; text-decoration: none; }
.navRightItem A:hover { color: #96A900; text-decoration: none; }
.navRightItem A:active { color: #96A900; text-decoration: none; }
	
.navLand { 
	font-family: arial, helvetica, sans-serif; 
	font-size: 10px;
	font-weight: bold;
	text-align: left;
	vertical-align: baseline; 
	background-color: #FFFFFF;
	color: #AAAAAA;
	}	
.navLandHead { 
	color: #96A900;
	padding-top: 0px;
	padding-bottom: 3px;
	border-top: 1px solid #96A900;
	}
.navLandHead A { color: #96A900; text-decoration: none; }
.navLandHead A:visited { color: #96A900; text-decoration: none; }
.navLandHead A:hover { color: #96A900; text-decoration: none; }
.navLandHead A:active { color: #96A900; text-decoration: none; }
.navLandItem {
	padding-top: 3px;
	padding-bottom: 3px;
	border-top: 1px solid #AAAAAA;
	}
.navLandItem A { color: #AAAAAA; text-decoration: none; }
.navLandItem A:visited { color: #AAAAAA; text-decoration: none; }
.navLandItem A:hover { color: #96A900; text-decoration: none; }
.navLandItem A:active { color: #96A900; text-decoration: none; }

.listingVendor { /* formerly yarnVendor */
	font-family: times new roman, serif; 
	font-size: 13px; 
	font-weight: bold;
	vertical-align: top; 
	background-color: #FFFFFF; 
	color: #000000; 
	width: 370px;
	text-align: justify;
	padding-top: 15px;
	}
.listingVendor A { color: #96A900; text-decoration: none; }
.listingVendor A:visited { color: #96A900; text-decoration: none; }
.listingVendor A:hover { color: #2F6C6D; text-decoration: underline; }
.listingVendor A:active { color: #2F6C6D; text-decoration: underline; }

.vendorOffering { 
	font-family: times new roman, serif; 
	font-size: 14px; 
	font-weight: bold;
	vertical-align: top; 
	background-color: #FFFFFF; 
	color: #000000; 
	width: 370px;
	text-align: justify;
	padding-top: 15px;
	}
.vendorOffering A { color: #96A900; text-decoration: none; }
.vendorOffering A:visited { color: #96A900; text-decoration: none; }
.vendorOffering A:hover { color: #2F6C6D; text-decoration: underline; }
.vendorOffering A:active { color: #2F6C6D; text-decoration: underline; }

.yarnLine { 
	font-family: trebuchet ms, arial, helvetica, sans-serif; 
	font-size: 12px; 
	vertical-align: top; 
	background-color: #FFFFFF; 
	color: #000000; 
	width: 370px;
	text-align: justify;
	text-indent: 15px;
	}
.yarnLine A { color: #527B82; text-decoration: none; }
.yarnLine A:visited { color: #527B82; text-decoration: none; }
.yarnLine A:hover { color: #96A900; text-decoration: underline; }
.yarnLine A:active { color: #96A900; text-decoration: underline; }
	
.image {
	font-family: verdana, arial, helvetica, sans-serif; 
	font-size: 10px;
	font-weight: normal;
	text-align: right;
	vertical-align: top; 
	background-color: #FFFFFF;
	color: #000000;	
	padding-bottom: 15px;	
	}
	
.accent1 { font-family: verdana, arial, helvetica, sans-serif; 
	text-align: left; 
	vertical-align: top;
	font-size: 10px; 
	font-weight: normal;
	padding-bottom: 5px; 
	text-align: left;
	color: #000000; }
.accent1 A { color: #FFFFFF; text-decoration: none; }
.accent1 A:visited { color: #FFFFFF; text-decoration: none; }
.accent1 A:hover { color: #FFFFFF; text-decoration: underline; }
.accent1 A:active { color: #FFFFFF; text-decoration: underline; }	
.accent1Head { font-family: times new roman, serif; 
	font-size: 12px; 
	font-weight: bold;
	padding-bottom: 5px; }	
.accent1_day { font-family: verdana, arial, helvetica, sans-serif; 
	text-align: left; 
	vertical-align: top;
	font-size: 9px; 
	font-weight: normal;
	text-align: left;
	color: #000000; }	
.accent1_item { font-family: arial, helvetica, sans-serif; 
	text-indent: -10px; padding-left: 10px; 
	text-align: left; 
	vertical-align: top;
	font-size: 12px; 
	font-weight: bold;
	clear: both;
	text-align: left;
	color: #000000; }	
.accent1_desc { font-family: verdana, arial, helvetica, sans-serif; 
	text-align: left; 
	vertical-align: top;
	font-size: 11px; 
	font-weight: normal;
	padding-bottom: 10px; 
	clear: both;
	text-align: left;
	color: #000000; }	
.accent1box {
	background-color: #7DABAB;
	padding: 10px; 	}
	
.accent2 { font-family: verdana, arial, helvetica, sans-serif; 
	text-align: left; 
	vertical-align: top;
	font-size: 10px; 
	font-weight: normal;
	padding-bottom: 5px; 
	text-align: left;
	color: #000000; }
.accent2 A { color: #FFFFFF; text-decoration: none; }
.accent2 A:visited { color: #FFFFFF; text-decoration: none; }
.accent2 A:hover { color: #FFFFFF; text-decoration: underline; }
.accent2 A:active { color: #FFFFFF; text-decoration: underline; }	
.accent2Head { font-family: times new roman, serif; 
	font-size: 12px; 
	font-weight: bold;
	padding-bottom: 5px; }	
.accent2_day { font-family: verdana, arial, helvetica, sans-serif; 
	text-align: left; 
	vertical-align: top;
	font-size: 9px; 
	font-weight: normal;
	text-align: left;
	color: #000000; }	
.accent2_item { font-family: arial, helvetica, sans-serif; 
	text-indent: -10px; padding-left: 10px; 
	text-align: left; 
	vertical-align: top;
	font-size: 12px; 
	font-weight: bold;
	clear: both;
	text-align: left;
	color: #000000; }	
.accent2_desc { font-family: verdana, arial, helvetica, sans-serif; 
	text-align: left; 
	vertical-align: top;
	font-size: 11px; 
	font-weight: normal;
	padding-bottom: 10px; 
	clear: both;
	text-align: left;
	color: #000000; }	
.accent2box {
	background-color: #A6A091;
	padding: 10px; 	}
	
.navtrail {
	background-color: #F2F2F2;
	padding: 10px; 	}
.navtrail A { color: #1D9496; text-decoration: none; }
.navtrail A:visited { color: #1D9496; text-decoration: none; }
.navtrail A:hover { color: #78850F; text-decoration: none; }
.navtrail A:active { color: #78850F; text-decoration: none; }